name: Build and test

on:
  push:

jobs:
  build:
    permissions:
      id-token: write
      attestations: write
      contents: write
      packages: write
    strategy:
      matrix:
        josm-revision: ["", "r18303"]
    uses: indoorequal/JOSMPluginAction/.github/workflows/ant.yml@main
    with:
      josm-revision: ${{ matrix.josm-revision }}
      plugin-jar-name: indoorequal
      release: false
