name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      id-token: write
      attestations: write
      contents: write
      packages: write
    uses: indoorequal/JOSMPluginAction/.github/workflows/ant.yml@main
    with:
      plugin-jar-name: indoorequal
      josm-revision: r18303
      release: true
